/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    color: #2c3e50;
}

td {
    height: 50px;
}

span {
    font-size: 24px;
    color: gold;
}

tr:hover {
    background-color: #e0f7fa;
}