{% extends "base.html" %}

{% block title %}
    Star Heroes
{% endblock %}

{% block content %}
    <h1>La Quête Des Étoiles</h1>
    <section class="calendar">
        <table>
            <thead>
                <tr>
                    <th>Missions</th>
                    {% for day in days %}
                        <th>{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for rule in rules %}
                    <tr>
                        <td class="rule">{{ rule['rule'] }}</td>
                        {% for day in days %}
                            <td>
                                {% for child in children %}
                                    <div class="rating-entry">
                                        <span class="child-name">{{ child['name'] }}:</span>
                                        {% set stars = ratings_dict.get((child['id'], rule['id'], day), 0) %}
                                        <span class="stars">
                                            {% for star in range(2) %}
                                                {% if star < stars %}
                                                    <span class="star filled">★</span>
                                                {% else %}
                                                    <span class="star empty">☆</span>
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                    </div>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">
                            <p>Nos héros n'ont aucune mission.</P>
                            {% if current_user.is_authenticated %}
                                {% if current_user.has_role('parent') %}
                                    <p><!-- a href="{{ url_for('auth.register') }}"-->Définissez des missions !<!--/a --></p>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}